<!--  ======================== Brand Area ==============================  -->
<section class="brand-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">Best Websites for Learning Programming in 2020</h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/codecademy.png" class="img-thumbnail" alt="Brand-1" />
                                </div>
                                <div class="flip-card-back bg-red">
                                    <h5>Codecademy</h5>
                                    <a class="btn btn-info" href="https://www.codecademy.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/codeavengers.png" class="img-thumbnail" alt="Brand-2" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Code Avengers</h5>
                                    <a class="btn btn-info" href="https://www.codeavengers.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/khanacademy.png" class="img-thumbnail"  alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Khan Academy</h5>
                                    <a class="btn btn-info" href="https://www.khanacademy.org/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/treehouse.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Treehouse</h5>
                                    <a class="btn btn-info" href="https://teamtreehouse.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/udacity.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Udacity</h5>
                                    <a class="btn btn-info" href="https://www.udacity.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/pluralsight.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Pluralsight</h5>
                                    <a class="btn btn-info" href="https://www.pluralsight.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/udemy.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Udemy</h5>
                                    <a class="btn btn-info" href="https://www.udemy.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/w3schools.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>W3Schools</h5>
                                    <a class="btn btn-info" href="https://www.w3schools.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mt-3">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <img src="assets/images/websites/codewars.png" class="img-thumbnail" alt="Brand-3" />
                                </div>
                                <div class="flip-card-back">
                                    <h5>Codewars</h5>
                                    <a class="btn btn-info" href="https://www.codewars.com/">Go to page</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</section>
