<section class="site-banner">
    <div class="container">
          <div class="row">
                <div class="col-lg-12 col-md-12 col-xs-12">
                    <h1 class="text-center">Meet The Founder</h1>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 banner-image">
                    <div id="cardin" class="card">
                        <div class="card-body text-center">
                                    <p><img class="img-fluid circle" src="assets/images/admin/me.jpg" alt="card image"></p>
                                    <h4 class="card-title">FullStack-Developer</h4>
                                    <h4 class="card-title">UX-Developer</h4>
                                    <p class="card-text">html 5, css, javascript plus C#.</p>

                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                </div>
                <div class="col-lg-6 col-md-12 site-title">
                  <h1 class="text-title">Hey, I'm Martin.</h1>
                  <h2 class="lead">
                      Web designer and developer In Orlando, Fl.
                      I create custom websites to help businesses do better online.
                  </h2>
                  <p class="para">
                      My role as Asp.Net Developer is Producing code with .Net Framework (C#), I develop and write high-quality code, design, test,
                      maintain and support custom mobile and web applications, and most important meet
                      customer requirements.
                  </p>
                  <a href="tel:8639698248" class="btn btn-primary">Call Now <span class="font-roboto py-2">(863)969-8248</span></a>
              </div>
          </div>
    </div>
</section>
<hr />
<section class="head bg-dark">
    <div class="container">
        <div class="row">
             <div class="col-lg-12 col-md-12 col-xs-12">
                  <h1 class="text-center">WHY ICREATESITES4U?</h1>
                  <hr>
             </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <p>Many people have their favorite boutiques, shops, restaurants, etc. Most go to those places in particular,
                    not only for the great product but for the customer service as well. Being in Polk County is perfect for
                    this mindset because it is growing so quickly, yet it still gives its residents a small town feel. At ICreatesites4u,
                    giving our clients that feeling is really important. We strive to be honest, completely transparent and do our best to
                    make our clients feel comfortable, while still giving professional and excellent service.
                    We will get to know you and understand your goals and ideas to help accelerate the growth of your business.</p>
            </div>
        </div>
    </div>
</section>

<!--  ======================== About Me Area ==============================  -->
<section class="about-area bg-primary mt-5">
    <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <div class="about-title">
                        <h1 class="text-uppercase title-h1">Client Say about me</h1>
                        <hr />
                        <p class="para text-center">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus, deleniti
                            recusandae. Esse incidunt rem repellendus ab voluptates maxime? Nemo, numquam!
                        </p>
                    </div>
                </div>
            </div>
            <carousel>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>First custom content</h2>
                    <div class="lead">
                      <img class="banner-image" src="assets/images/testimonials/t1.jpg"/>
                      <h3>First slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>Second custom content</h2>
                    <div class="lead">
                       <img class="banner-image" src="assets/images/testimonials/t2.jpg"/>
                      <h3>Second slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                </slide>
                <slide>
                  <div class="text-center py-5 bg-dark text-white">
                    <h2>Third custom content</h2>
                    <div class="lead">
                      <img class="banner-image" src="assets/images/testimonials/t1.jpg"/>
                      <h3>Third slide label</h3>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
                    </div>
                  </div>
                </slide>
              </carousel>


        </div>
</section>

<!--  ======================== End About Me Area ==============================  -->
