<!-- Tools -->
<section id="tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2 class="text-center">Best tools for Programming</h2>
                <hr />
            </div>
        </div>
        <div class="row box">
            <div class="col-md-6 col-sm-6 col-xs-12 outside-container">
                <img src="assets/images/tools/github.png" class="img-fluid">
                <div class="overlay">
                    <div class="text">Github</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 shadow-lg bg-white rounded">
                <h2 class="featurette-heading">
                    Best place for backing up a repository data
                    <br><span class="text-muted">See for yourself. Oh yeah, it's that good.</span>
                </h2>
                <p>
                    But what the heck is GitHub and why are developers so excited about it?
                    You may have heard that GitHub is a code sharing and publishing service,
                    or that it’s a social networking site for programmers.
                    Both statements are true, but neither explain exactly why GitHub is special.
                </p>
                <a class="btn btn-primary" href="https://github.com/">Go to link..</a>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-6 col-sm-6 col-xs-12 outside-container">
                <img src="assets/images/tools/vscode.png" class="img-fluid">
                <div class="overlay">
                    <div class="text">Vscode</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 shadow-lg bg-white rounded">
                <h2 class="featurette-heading">
                    My favorite code editor
                    <br><span class="text-muted">See for yourself. Oh yeah, it's that good.</span>
                </h2>
                <p>
                    Visual Studio Code is a free source-code editor made by Microsoft for Windows,
                    Linux and macOS. Features include support for debugging, syntax highlighting,
                    intelligent code completion, snippets, code refactoring, and embedded Git.
                </p>
                <a class="btn btn-primary" href="https://code.visualstudio.com/download">Go to link..</a>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-6 col-sm-6 col-xs-12 outside-container">
                <img src="assets/images/tools/vs2019.png" class="img-fluid">
                <div class="overlay">
                    <div class="text">Visual Studio<br />2019</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 shadow-lg bg-white rounded">
                <h2 class="featurette-heading">
                    My favorite code editor
                    <br><span class="text-muted">See for yourself. Oh yeah, it's that good.</span>
                </h2>
                <p>
                    I love Visual Studio cause When you sign into Visual Studio Community, you get access to a broad set of free developer tools,
                    selected Xamarin University courses on-demand, Pluralsight training, Azure credits, and more as part of Visual Studio Dev Essentials.
                </p>
                <a class="btn btn-primary" href="https://code.visualstudio.com/download">Go to link..</a>
            </div>
        </div>
        <div class="row box">
            <div class="col-md-6 col-sm-6 col-xs-12 outside-container">
                <img src="assets/images/tools/devtools.png"  class="img-fluid">
                <div class="overlay">
                    <div class="text">Chrome-DevTools</div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 shadow-lg bg-white rounded">
                <h2 class="featurette-heading">
                    Oh yeah, it's that good.
                    <br><span class="text-muted">See for yourself.</span>
                </h2>
                <p>
                    Chrome DevTools is a set of web developer tools built directly into the Google Chrome browser.
                    DevTools can help you edit pages on-the-fly and diagnose problems quickly, which ultimately helps you build better websites, faster.
                </p>
            </div>
        </div>
    </div>
</section>