<footer class="footer footer-standard pt50 pb20">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>Serving Polk County</h3>
                <p>Phone: 863-969-8248</p>
                <p>Monday - Friday: 9 am - 5 pm</p>    
                <p>Serving All Polk County including: 
                    Winter Haven, Lake Wales, Haines City, Lake Alfred, 
                    Davenport, Lakeland, Mulberry, Bartow, & Kissimmee, 
                    and Celebration.</p>  
                <a [routerLink]="['/contact']" class="btn btn-primary btn-sm">Request a quote</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Quick links</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a [routerLink]="['/home']">
                            Home
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']">
                            About
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/members']">
                            Members
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/portfolio']">
                            Portfolio
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>Latest News</h3>
                <ul class="list-unstyled latest-news">
                    <li class="media">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="assets/images/footer/footer1.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Make beautiful templates</a></h5>
                            April 05, 2017
                        </div>
                    </li>
                    <li class="media my-3">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="assets/images/footer/footer2.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Angular new version</a></h5>
                            Jan 05, 2017
                        </div>
                    </li>
                    <li class="media">
                        <a href="#"> <img class="d-flex mr-3 img-fluid" width="64" src="assets/images/footer/footer3.png" alt="Generic placeholder image"></a>
                        <div class="media-body">
                            <h5 class="mt-0 mb-1"><a href="#">Make templates with bootstrap 4</a></h5>
                            March 15, 2017
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb40">
                <h3>My Mind</h3>
                <img src="assets/images/footer/footer.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</footer><!--/footer-->
<div class="footer-bottomAlt">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="clearfix">
                    <a href="https://www.facebook.com/Icreateaites4u-690772767726869" class="social-icon-sm si-dark si-facebook si-light-round">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-twitter si-dark-round">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="https://www.google.com/maps/place/ICreateSites4u/@28.088568,-81.8286991,10z/data=!3m1!4b1!4m5!3m4!1s0x88e77ed68df2032d:0x39473d14c2e9959e!8m2!3d28.0888526!4d-81.5485085" class="social-icon-sm si-dark si-g-plus si-dark-round">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-skype si-dark-round">
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" class="social-icon-sm si-dark si-linkedin si-dark-round">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-5">
                <span>&copy; Copyright 2020 - icreatesites4u - All Right Reserved</span>
            </div>
        </div>
    </div>
</div>
<!-- footer bottom -->
<a class="back-to-top hidden-xs-down show" id="back-to-top" (click)="scrollToTop()"><i class="fa fa-3x fa-angle-up"></i></a>